<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Started</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='front.css') }}">
</head>
<body>

    <div class="container">
        <!-- Title Animation -->
        <h1>BugdeBuddy</h1>


        <!-- Get Started Button -->
        <button onclick="window.location.href='/login'">Get Started</button>
    </div>

</body>
</html>
